.data-panel-wrapper {
    height: calc(100vh - var(--top-nav-height));
    overflow: auto;
  }
  
  .data-details {
    margin: 8px;
  }
  
  .data-inspector {}
  
  .data-details-pair {
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }
  
  .data-details-obj-inspector {
    width: fit-content;
  }
  
  .data-details-string-value {
    color: var(--stringColor);
  }
  
  .data-details-section {
    &:not(:last-child) {
      border-bottom: 1px solid var(--dividerColor);
      padding-bottom: 8px;
    }
  
    h5 {
      margin: 8px 4px;
    }
  }

  .split {
    display: flex;
    flex-direction: row;
}

.gutter {
    background-color: #eee;
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-horizontal {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
    cursor: col-resize;
}